<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Materialize -->
    <link rel="stylesheet" href="static/stylesheets/materialize.min.css">

    <!-- Highlight -->
    <link rel="stylesheet" href="static/stylesheets/atom-one-light.min.css">
  </head>
  <body>

    <header></header>
    <main>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Run a new survey</span>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="crawl-begin" type="text">
                      <label for="first_name">Start</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="crawl-end" type="text">
                      <label for="last_name">End</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <pre style="max-height: 100px;"><code id="crawl-status"></code></pre>
                </div>
              </div>
              <div class="card-action">
                <a id="crawl-commit" href="javascript:void(0)">Start</a>
              </div>
            </div>
          </div>
        </div>

      </main>

      <script src="static/javascripts/jquery-3.2.1.min.js"></script>
      <script src="static/javascripts/d3.v4.min.js"></script>
      <script src="static/javascripts/d3-selection-multi.v1.min.js"></script>
      <script src="static/javascripts/materialize.min.js"></script>
      <script src="static/javascripts/highlight.min.js"></script>
      <script src="static/javascripts/lodash.min.js"></script>
      <script src="static/javascripts/admin.js"></script>
    </body>
  </html>
