<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Materialize -->
  <link rel="stylesheet" href="static/stylesheets/materialize.min.css">

  <!-- Highlight -->
  <link rel="stylesheet" href="static/stylesheets/atom-one-light.min.css">
</head>

<body>

  <header></header>
  <main style="
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgb(11, 65, 130) 1%, rgb(30, 136, 229) 100%);">
    <div class="row">
      <!-- Card Training -->
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Run a new survey</span>
            <div class="row">
              <div class="input-field col s6">
                <input id="crawl-begin" type="text">
                <label for="crawl-begin">Start</label>
              </div>
              <div class="input-field col s6">
                <input id="crawl-end" type="text">
                <label for="crawl-end">End</label>
              </div>
              <div class="input-field col s6">
                <input id="crawl-resume" type="text">
                <label for="crawl-resume">Resume from (= Start if new)</label>
              </div>
            </div>
            <div class="row">
              <pre style="max-height: 100px;"><code id="crawl-status"></code></pre>
            </div>
          </div>
          <div class="card-action">
            <a id="crawl-commit" href="javascript:void(0)">Start</a>
          </div>
        </div>
      </div>
      <!-- Card Learning -->
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Train</span>
            <div class="row">
              <div class="input-field col s6">
                <input id="train-begin" type="text">
                <label for="crawl-begin">Start</label>
              </div>
              <div class="input-field col s6">
                <input id="train-end" type="text">
                <label for="crawl-end">End</label>
              </div>
              <div class="input-field col s6">
                <select id="train-func">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="trainDesc">Desc</option>
                  <option value="trainListing">Listing</option>
                  <option value="trainRegression">Regression</option>
                  <option value="buildTfIdf">Build TfIdf</option>
                </select>
                <label for="train-method">Train Function</label>
              </div>
            </div>
            <div class="row">
              <pre style="max-height: 100px;"><code id="train-status"></code></pre>
            </div>
          </div>
          <div class="card-action">
            <a id="train-commit" href="javascript:void(0)">Start</a>
          </div>
        </div>
      </div>
    </div>

  </main>

  <script src="static/javascripts/jquery-3.2.1.min.js"></script>
  <script src="static/javascripts/d3.v4.min.js"></script>
  <script src="static/javascripts/d3-selection-multi.v1.min.js"></script>
  <script src="static/javascripts/materialize.min.js"></script>
  <script src="static/javascripts/highlight.min.js"></script>
  <script src="static/javascripts/lodash.min.js"></script>
  <script src="static/javascripts/admin.js"></script>
</body>

</html>
