<!doctype html>
<html>

  <head>
    <title>Example Domain</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/main.css">
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap-switch.css">
  </head>

  <body>
    <button type="button" class="btn btn-primary btn-lg sim-words-btn" data-toggle="modal" data-target="#wordModal">
      Show Similar Words
    </button>
    <div id="similar"></div>

    <div class="modal fade" id="wordModal" tabindex="-1" role="dialog" aria-labelledby="wordModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Similar Words</h4>
          </div>
          <div class="modal-body sim-words">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    

    <script src="../assets/javascripts/lodash.min.js"></script>
    <script src="../assets/javascripts/jquery-3.2.1.min.js"></script>
    <script src="../assets/javascripts/bootstrap.min.js"></script>
    <script src="../assets/javascripts/bootstrap-switch.js"></script>
    <script src="../assets/javascripts/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="../assets/javascripts/test.js"></script>
  </body>

</html>
