<!doctype html>
<html>

  <head>
    <title>Example Domain</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/main.css">
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap-switch.css">
  </head>

  <body>
    <div id="similar"></div>
    

    <script src="../assets/javascripts/lodash.min.js"></script>
    <script src="../assets/javascripts/jquery-3.2.1.min.js"></script>
    <script src="../assets/javascripts/bootstrap.min.js"></script>
    <script src="../assets/javascripts/bootstrap-switch.js"></script>
    <script src="../assets/javascripts/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="../assets/javascripts/test.js"></script>
  </body>

</html>
